# Anime Dataset Visualisation




![](https://assets-prd.ignimgs.com/2022/08/17/top25animecharacters-blogroll-1660777571580.jpg)

In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-04-23/raw_anime.csv"
df = pd.read_csv(url)

In [3]:
df.head()

,animeID,name,title_english,title_japanese,title_synonyms,type,source,producers,genre,studio,...,scored_by,rank,popularity,members,favorites,synopsis,background,premiered,broadcast,related
0,1,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,[],TV,Original,['Bandai Visual'],"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...",['Sunrise'],...,405664.0,26.0,39.0,795733.0,43460.0,"In the year 2071, humanity has colonized sever...",When Cowboy Bebop first aired in spring of 199...,Spring 1998,Saturdays at 01:00 (JST),"{'Adaptation': [{'mal_id': 173, 'type': 'manga..."
1,5,Cowboy Bebop: Tengoku no Tobira,Cowboy Bebop: The Movie,カウボーイビバップ 天国の扉,"[""Cowboy Bebop: Knockin' on Heaven's Door""]",Movie,Original,"['Sunrise', 'Bandai Visual']","['Action', 'Drama', 'Mystery', 'Sci-Fi', 'Space']",['Bones'],...,120243.0,164.0,449.0,197791.0,776.0,"Another day, another bounty—such is the life o...",NaN,NaN,NaN,"{'Parent story': [{'mal_id': 1, 'type': 'anime..."
2,6,Trigun,Trigun,トライガン,[],TV,Manga,['Victor Entertainment'],"['Action', 'Sci-Fi', 'Adventure', 'Comedy', 'D...",['Madhouse'],...,212537.0,255.0,146.0,408548.0,10432.0,"Vash the Stampede is the man with a $$60,000,0...",The Japanese release by Victor Entertainment h...,Spring 1998,Thursdays at 01:15 (JST),"{'Adaptation': [{'mal_id': 703, 'type': 'manga..."
3,7,Witch Hunter Robin,Witch Hunter Robin,Witch Hunter ROBIN,['WHR'],TV,Original,['Bandai Visual'],"['Action', 'Magic', 'Police', 'Supernatural', ...",['Sunrise'],...,32837.0,2371.0,1171.0,79397.0,537.0,Witches are individuals with special powers li...,NaN,Summer 2002,Tuesdays at Unknown,{}
4,8,Bouken Ou Beet,Beet the Vandel Buster,冒険王ビィト,['Adventure King Beet'],TV,Manga,"['TV Tokyo', 'Dentsu']","['Adventure', 'Fantasy', 'Shounen', 'Supernatu...",['Toei Animation'],...,4894.0,3544.0,3704.0,11708.0,14.0,It is the dark century and the people are suff...,NaN,Fall 2004,Thursdays at 18:30 (JST),"{'Adaptation': [{'mal_id': 1348, 'type': 'mang..."

In [4]:
df.columns

Index(['animeID', 'name', 'title_english', 'title_japanese', 'title_synonyms',
       'type', 'source', 'producers', 'genre', 'studio', 'episodes', 'status',
       'airing', 'aired', 'duration', 'rating', 'score', 'scored_by', 'rank',
       'popularity', 'members', 'favorites', 'synopsis', 'background',
       'premiered', 'broadcast', 'related'],
      dtype='object')

In [5]:
df.dtypes

animeID             int64
name               object
title_english      object
title_japanese     object
title_synonyms     object
type               object
source             object
producers          object
genre              object
studio             object
episodes          float64
status             object
airing             object
aired              object
duration           object
rating             object
score             float64
scored_by         float64
rank              float64
popularity        float64
members           float64
favorites         float64
synopsis           object
background         object
premiered          object
broadcast          object
related            object
dtype: object

### Checking for null Values

In [6]:
df.shape[0]

15278

In [7]:
df.isnull().sum()

animeID               0
name                  0
title_english      9156
title_japanese       48
title_synonyms        5
type                  5
source                5
producers             5
genre                 5
studio                5
episodes            546
status                5
airing                5
aired                 5
duration              5
rating                5
score               500
scored_by             5
rank               1609
popularity            5
members               5
favorites             5
synopsis            713
background        14160
premiered         11099
broadcast         10876
related               5
dtype: int64

### We can see `title_synonyms`, `type`, `source`, `producers`, `genre`, `studio`, `status`, `airing`, `aired`, `duration`, `rating`, `scored_by`, `popularity`, `members`, `favorites`, `related` have 5 rows with Null values let drop rows from these column

In [8]:
# drop rows with missing values only in specific columns
df.dropna(subset=['title_synonyms', 'type', 'source', 'producers', 'genre', 'studio', 'status', 'airing', 'aired', 'duration', 'rating', 'scored_by', 'popularity', 'members', 'favorites', 'related'], inplace=True)

As we know we have `15278` rows and almost `14160` rows in `background` has Null value let's drop this column

In [9]:
df.drop('background', axis=1, inplace=True)

In [10]:
df.columns

Index(['animeID', 'name', 'title_english', 'title_japanese', 'title_synonyms',
       'type', 'source', 'producers', 'genre', 'studio', 'episodes', 'status',
       'airing', 'aired', 'duration', 'rating', 'score', 'scored_by', 'rank',
       'popularity', 'members', 'favorites', 'synopsis', 'premiered',
       'broadcast', 'related'],
      dtype='object')

In [11]:
df.isnull().sum()

animeID               0
name                  0
title_english      9151
title_japanese       43
title_synonyms        0
type                  0
source                0
producers             0
genre                 0
studio                0
episodes            541
status                0
airing                0
aired                 0
duration              0
rating                0
score               495
scored_by             0
rank               1604
popularity            0
members               0
favorites             0
synopsis            708
premiered         11094
broadcast         10871
related               0
dtype: int64

We can see Main columns have lots of missing values as such:
- `title_english` has almost `9151` missing value but we need this names for visualisation so let's try to translate name of `title_japanese` to english for these values

In [12]:
!pip install googletrans==4.0.0-rc1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: googletrans==4.0.0-rc1 in /usr/local/lib/python3.9/dist-packages (4.0.0rc1)
Requirement already satisfied: httpx==0.13.3 in /usr/local/lib/python3.9/dist-packages (from googletrans==4.0.0-rc1) (0.13.3)
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.9/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (3.0.4)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2022.12.7)
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.9/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2.10)
Requirement already satisfied: sniffio in /usr/local/lib/python3.9/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.3.0)
Requirement already satisfied: rfc3986<2,>=1.3 in /usr/local/lib/python3.9/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.5.0)
Requirement already satisfied: httpcore==0.9.* in /usr/local/lib/python3.9/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (0.9.1)
Requirement already satisfied: hstspreload in /usr/local/lib/python3.9/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2023.1.1)
Requirement already satisfied: h11<0.10,>=0.8 in /usr/local/lib/python3.9/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (0.9.0)
Requirement already satisfied: h2==3.* in /usr/local/lib/python3.9/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (3.2.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in /usr/local/lib/python3.9/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (5.2.0)
Requirement already satisfied: hpack<4,>=3.0 in /usr/local/lib/python3.9/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (3.0.0)

In [13]:
from googletrans import Translator
translator = Translator()

for i, row in df.iterrows():
    if pd.isna(row['title_english']):
        try:
            # translate 'title_japanese' to english
            translated = translator.translate(row['title_japanese'], dest='en').text
            # fill missing values in 'title_english' column
            df.at[i, 'title_english'] = translated
        except:
            # handle any errors
            print(f"Translation failed for row {i}")

Translation failed for row 1422
Translation failed for row 1435
Translation failed for row 1439
Translation failed for row 1442
Translation failed for row 1454
Translation failed for row 1456
Translation failed for row 1463
Translation failed for row 1470
Translation failed for row 1476
Translation failed for row 1484
Translation failed for row 1493
Translation failed for row 1499
Translation failed for row 1501
Translation failed for row 1503
Translation failed for row 1508
Translation failed for row 1525
Translation failed for row 1532
Translation failed for row 1535
Translation failed for row 1549
Translation failed for row 1550
Translation failed for row 1553
Translation failed for row 1556
Translation failed for row 1558
Translation failed for row 1559
Translation failed for row 1562
Translation failed for row 1569
Translation failed for row 1575
Translation failed for row 1578
Translation failed for row 1580
Translation failed for row 1581
Translation failed for row 1582
Translation failed for row 1584
Translation failed for row 1586
Translation failed for row 1595
Translation failed for row 1596
Translation failed for row 1597
Translation failed for row 1598
Translation failed for row 1600
Translation failed for row 1601
Translation failed for row 1602
Translation failed for row 1603
Translation failed for row 1606
Translation failed for row 1607
Translation failed for row 1610
Translation failed for row 1616
Translation failed for row 1617
Translation failed for row 1621
Translation failed for row 1622
Translation failed for row 1623
Translation failed for row 1624
Translation failed for row 1629
Translation failed for row 1633
Translation failed for row 1634
Translation failed for row 1635
Translation failed for row 1636
Translation failed for row 1637
Translation failed for row 1638
Translation failed for row 1639
Translation failed for row 1641
Translation failed for row 1642
Translation failed for row 1643
Translation failed for row 1644
Translation failed for row 1647
Translation failed for row 1648
Translation failed for row 1650
Translation failed for row 1651
Translation failed for row 1652
Translation failed for row 1653
Translation failed for row 1654
Translation failed for row 1655
Translation failed for row 1657
Translation failed for row 1660
Translation failed for row 1666
Translation failed for row 1667
Translation failed for row 1668
Translation failed for row 1669
Translation failed for row 1673
Translation failed for row 1678
Translation failed for row 1681
Translation failed for row 1682
Translation failed for row 1683
Translation failed for row 1686
Translation failed for row 1687
Translation failed for row 1694
Translation failed for row 1696
Translation failed for row 1697
Translation failed for row 1699
Translation failed for row 1702
Translation failed for row 1703
Translation failed for row 1705
Translation failed for row 1708
Translation failed for row 1709
Translation failed for row 1715
Translation failed for row 1716
Translation failed for row 1717
Translation failed for row 1718
Translation failed for row 1719
Translation failed for row 1722
Translation failed for row 1725
Translation failed for row 1726
Translation failed for row 1729
Translation failed for row 1730
Translation failed for row 1732
Translation failed for row 1733
Translation failed for row 1734
Translation failed for row 1737
Translation failed for row 1738
Translation failed for row 1742
Translation failed for row 1746
Translation failed for row 1747
Translation failed for row 1748
Translation failed for row 1749
Translation failed for row 1750
Translation failed for row 1753
Translation failed for row 1755
Translation failed for row 1756
Translation failed for row 1758
Translation failed for row 1759
Translation failed for row 1760
Translation failed for row 1762
Translation failed for row 1763
Translation failed for row 1764
Translation failed for row 1765
Translation failed for row 1766
Translation failed for row 1768
Translation failed for row 1769
Translation failed for row 1771
Translation failed for row 1772
Translation failed for row 1775
Translation failed for row 1776
Translation failed for row 1778
Translation failed for row 1782
Translation failed for row 1783
Translation failed for row 1784
Translation failed for row 1785
Translation failed for row 1786
Translation failed for row 1787
Translation failed for row 1788
Translation failed for row 1789
Translation failed for row 1790
Translation failed for row 1791
Translation failed for row 1793
Translation failed for row 1794
Translation failed for row 1795
Translation failed for row 1796
Translation failed for row 1797
Translation failed for row 1798
Translation failed for row 1800
Translation failed for row 1802
Translation failed for row 1803
Translation failed for row 1804
Translation failed for row 1805
Translation failed for row 1806
Translation failed for row 1807
Translation failed for row 1808
Translation failed for row 1809
Translation failed for row 1810
Translation failed for row 1811
Translation failed for row 1813
Translation failed for row 1814
Translation failed for row 1816
Translation failed for row 1817
Translation failed for row 1818
Translation failed for row 1819
Translation failed for row 1820
Translation failed for row 1821
Translation failed for row 1822
Translation failed for row 1823
Translation failed for row 1824
Translation failed for row 1825
Translation failed for row 1826
Translation failed for row 1827
Translation failed for row 1828
Translation failed for row 1829
Translation failed for row 1830
Translation failed for row 1831
Translation failed for row 1832
Translation failed for row 1833
Translation failed for row 1837
Translation failed for row 1838
Translation failed for row 1844
Translation failed for row 1845
Translation failed for row 1846
Translation failed for row 1847
Translation failed for row 1849
Translation failed for row 1850
Translation failed for row 1852
Translation failed for row 1855
Translation failed for row 1857
Translation failed for row 1858
Translation failed for row 1859
Translation failed for row 1860
Translation failed for row 1862
Translation failed for row 1865
Translation failed for row 1869
Translation failed for row 1870
Translation failed for row 1871
Translation failed for row 1872
Translation failed for row 1874
Translation failed for row 1876
Translation failed for row 1877
Translation failed for row 1878
Translation failed for row 1883
Translation failed for row 1884
Translation failed for row 1889
Translation failed for row 1895
Translation failed for row 1897
Translation failed for row 1898
Translation failed for row 1904
Translation failed for row 1905
Translation failed for row 1906
Translation failed for row 1908
Translation failed for row 1913
Translation failed for row 1914
Translation failed for row 1916
Translation failed for row 1918
Translation failed for row 1931
Translation failed for row 1932
Translation failed for row 1935
Translation failed for row 1940
Translation failed for row 1943
Translation failed for row 1945
Translation failed for row 1946
Translation failed for row 1962
Translation failed for row 1963
Translation failed for row 1973
Translation failed for row 2030
Translation failed for row 2031
Translation failed for row 2041
Translation failed for row 2077
Translation failed for row 2422
Translation failed for row 2433
Translation failed for row 2439
Translation failed for row 2453
Translation failed for row 2458
Translation failed for row 2460
Translation failed for row 2463
Translation failed for row 2474
Translation failed for row 2482
Translation failed for row 2486
Translation failed for row 2508
Translation failed for row 2509
Translation failed for row 2540
Translation failed for row 2543
Translation failed for row 2559
Translation failed for row 2572
Translation failed for row 2578
Translation failed for row 2588
Translation failed for row 2591
Translation failed for row 2596
Translation failed for row 2602
Translation failed for row 2608
Translation failed for row 2613
Translation failed for row 2624
Translation failed for row 2626
Translation failed for row 2627
Translation failed for row 2636
Translation failed for row 2646
Translation failed for row 2654
Translation failed for row 2658
Translation failed for row 2659
Translation failed for row 2661
Translation failed for row 2668
Translation failed for row 2673
Translation failed for row 2674
Translation failed for row 2677
Translation failed for row 2678
Translation failed for row 2679
Translation failed for row 2680
Translation failed for row 2681
Translation failed for row 2682
Translation failed for row 2683
Translation failed for row 2686
Translation failed for row 2691
Translation failed for row 2692
Translation failed for row 2698
Translation failed for row 2702
Translation failed for row 2703
Translation failed for row 2705
Translation failed for row 2710
Translation failed for row 2711
Translation failed for row 2718
Translation failed for row 2721
Translation failed for row 2722
Translation failed for row 2724
Translation failed for row 2726
Translation failed for row 2727
Translation failed for row 2729
Translation failed for row 2730
Translation failed for row 2732
Translation failed for row 2733
Translation failed for row 2734
Translation failed for row 2735
Translation failed for row 2736
Translation failed for row 2737
Translation failed for row 2738
Translation failed for row 2739
Translation failed for row 2742
Translation failed for row 2743
Translation failed for row 2745
Translation failed for row 2753
Translation failed for row 2757
Translation failed for row 2758
Translation failed for row 2759
Translation failed for row 2764
Translation failed for row 2765
Translation failed for row 2766
Translation failed for row 2767
Translation failed for row 2768
Translation failed for row 2769
Translation failed for row 2770
Translation failed for row 2771
Translation failed for row 2772
Translation failed for row 2773
Translation failed for row 2776
Translation failed for row 2779
Translation failed for row 2781
Translation failed for row 2786
Translation failed for row 2788
Translation failed for row 2789
Translation failed for row 2790
Translation failed for row 2794
Translation failed for row 2795
Translation failed for row 2796
Translation failed for row 2797
Translation failed for row 2799
Translation failed for row 2801
Translation failed for row 2806
Translation failed for row 2807
Translation failed for row 2808
Translation failed for row 2813
Translation failed for row 2815
Translation failed for row 2816
Translation failed for row 2818
Translation failed for row 2822
Translation failed for row 2824
Translation failed for row 2827
Translation failed for row 2829
Translation failed for row 2831
Translation failed for row 2834
Translation failed for row 2835
Translation failed for row 2838
Translation failed for row 2841
Translation failed for row 2842
Translation failed for row 2843
Translation failed for row 2845
Translation failed for row 2852
Translation failed for row 2854
Translation failed for row 2856
Translation failed for row 2857
Translation failed for row 2858
Translation failed for row 2859
Translation failed for row 2861
Translation failed for row 2864
Translation failed for row 2865
Translation failed for row 2867
Translation failed for row 2868
Translation failed for row 2874
Translation failed for row 2878
Translation failed for row 2879
Translation failed for row 2887
Translation failed for row 2894
Translation failed for row 2905
Translation failed for row 2906
Translation failed for row 2908
Translation failed for row 2909
Translation failed for row 2910
Translation failed for row 2913
Translation failed for row 2914
Translation failed for row 2915
Translation failed for row 2918
Translation failed for row 2921
Translation failed for row 2924
Translation failed for row 2926
Translation failed for row 2927
Translation failed for row 2930
Translation failed for row 2931
Translation failed for row 2932
Translation failed for row 2934
Translation failed for row 2935
Translation failed for row 2936
Translation failed for row 2941
Translation failed for row 2946
Translation failed for row 2953
Translation failed for row 2957
Translation failed for row 2958
Translation failed for row 2959
Translation failed for row 2976
Translation failed for row 2981
Translation failed for row 2982
Translation failed for row 2985
Translation failed for row 2991
Translation failed for row 2993
Translation failed for row 2994
Translation failed for row 3007
Translation failed for row 3008
Translation failed for row 3009
Translation failed for row 3011
Translation failed for row 3012
Translation failed for row 3016
Translation failed for row 3019
Translation failed for row 3027
Translation failed for row 3028
Translation failed for row 3029
Translation failed for row 3030
Translation failed for row 3032
Translation failed for row 3033
Translation failed for row 3037
Translation failed for row 3038
Translation failed for row 3040
Translation failed for row 3041
Translation failed for row 3044
Translation failed for row 3047
Translation failed for row 3050
Translation failed for row 3052
Translation failed for row 3053
Translation failed for row 3056
Translation failed for row 3057
Translation failed for row 3059
Translation failed for row 3060
Translation failed for row 3062
Translation failed for row 3063
Translation failed for row 3066
Translation failed for row 3067
Translation failed for row 3069
Translation failed for row 3071
Translation failed for row 3077
Translation failed for row 3084
Translation failed for row 3088
Translation failed for row 3090
Translation failed for row 3094
Translation failed for row 3097
Translation failed for row 3104
Translation failed for row 3109
Translation failed for row 3110
Translation failed for row 3115
Translation failed for row 3137
Translation failed for row 3142
Translation failed for row 3145
Translation failed for row 3147
Translation failed for row 3150
Translation failed for row 3158
Translation failed for row 3162
Translation failed for row 3166
Translation failed for row 3167
Translation failed for row 3175
Translation failed for row 3176
Translation failed for row 3180
Translation failed for row 3181
Translation failed for row 3182
Translation failed for row 3184
Translation failed for row 3199
Translation failed for row 3207
Translation failed for row 3214
Translation failed for row 3216
Translation failed for row 3225
Translation failed for row 3226
Translation failed for row 3229
Translation failed for row 3238
Translation failed for row 3241
Translation failed for row 3242
Translation failed for row 3254
Translation failed for row 3267
Translation failed for row 3304
Translation failed for row 3317
Translation failed for row 3324
Translation failed for row 3334
Translation failed for row 3367
Translation failed for row 3423
Translation failed for row 3514
Translation failed for row 3663
Translation failed for row 3674
Translation failed for row 3766
Translation failed for row 3786
Translation failed for row 3789
Translation failed for row 3794
Translation failed for row 3811
Translation failed for row 3828
Translation failed for row 3829
Translation failed for row 3836
Translation failed for row 3839
Translation failed for row 3843
Translation failed for row 3844
Translation failed for row 3850
Translation failed for row 3852
Translation failed for row 3857
Translation failed for row 3858
Translation failed for row 3873
Translation failed for row 3878
Translation failed for row 3883
Translation failed for row 3891
Translation failed for row 3896
Translation failed for row 3898
Translation failed for row 3899
Translation failed for row 3909
Translation failed for row 3911
Translation failed for row 3913
Translation failed for row 3914
Translation failed for row 3918
Translation failed for row 3921
Translation failed for row 3924
Translation failed for row 3927
Translation failed for row 3928
Translation failed for row 3930
Translation failed for row 3937
Translation failed for row 3939
Translation failed for row 3942
Translation failed for row 3943
Translation failed for row 3944
Translation failed for row 3945
Translation failed for row 3946
Translation failed for row 3947
Translation failed for row 3950
Translation failed for row 3951
Translation failed for row 3953
Translation failed for row 3954
Translation failed for row 3957
Translation failed for row 3962
Translation failed for row 3963
Translation failed for row 3964
Translation failed for row 3970
Translation failed for row 3973
Translation failed for row 3974
Translation failed for row 3975
Translation failed for row 3977
Translation failed for row 3978
Translation failed for row 3979
Translation failed for row 3980
Translation failed for row 3981
Translation failed for row 3982
Translation failed for row 3984
Translation failed for row 3985
Translation failed for row 3986
Translation failed for row 3987
Translation failed for row 3988
Translation failed for row 3989
Translation failed for row 3990
Translation failed for row 3991
Translation failed for row 3992
Translation failed for row 3993
Translation failed for row 3994
Translation failed for row 3995
Translation failed for row 3996
Translation failed for row 3997
Translation failed for row 3998
Translation failed for row 3999
Translation failed for row 4000
Translation failed for row 4001
Translation failed for row 4002
Translation failed for row 4003
Translation failed for row 4004
Translation failed for row 4005
Translation failed for row 4007
Translation failed for row 4008
Translation failed for row 4009
Translation failed for row 4010
Translation failed for row 4011
Translation failed for row 4012
Translation failed for row 4013
Translation failed for row 4014
Translation failed for row 4015
Translation failed for row 4016
Translation failed for row 4017
Translation failed for row 4018
Translation failed for row 4019
Translation failed for row 4020
Translation failed for row 4021
Translation failed for row 4023
Translation failed for row 4024
Translation failed for row 4025
Translation failed for row 4026
Translation failed for row 4027
Translation failed for row 4028
Translation failed for row 4029
Translation failed for row 4030
Translation failed for row 4031
Translation failed for row 4033
Translation failed for row 4034
Translation failed for row 4035
Translation failed for row 4036
Translation failed for row 4040
Translation failed for row 4047
Translation failed for row 4048
Translation failed for row 4049
Translation failed for row 4050
Translation failed for row 4051
Translation failed for row 4052
Translation failed for row 4053
Translation failed for row 4054
Translation failed for row 4056
Translation failed for row 4057
Translation failed for row 4058
Translation failed for row 4060
Translation failed for row 4061
Translation failed for row 4062
Translation failed for row 4063
Translation failed for row 4064
Translation failed for row 4065
Translation failed for row 4066
Translation failed for row 4069
Translation failed for row 4074
Translation failed for row 4075
Translation failed for row 4076
Translation failed for row 4077
Translation failed for row 4078
Translation failed for row 4079
Translation failed for row 4081
Translation failed for row 4082
Translation failed for row 4083
Translation failed for row 4084
Translation failed for row 4085
Translation failed for row 4086
Translation failed for row 4087
Translation failed for row 4088
Translation failed for row 4089
Translation failed for row 4091
Translation failed for row 4092
Translation failed for row 4093
Translation failed for row 4094
Translation failed for row 4095
Translation failed for row 4096
Translation failed for row 4099
Translation failed for row 4107
Translation failed for row 4109
Translation failed for row 4110

In [14]:
df.isnull().sum()

animeID               0
name                  0
title_english      4214
title_japanese       43
title_synonyms        0
type                  0
source                0
producers             0
genre                 0
studio                0
episodes            541
status                0
airing                0
aired                 0
duration              0
rating                0
score               495
scored_by             0
rank               1604
popularity            0
members               0
favorites             0
synopsis            708
premiered         11094
broadcast         10871
related               0
dtype: int64

## Saving Data

In [15]:
df.to_csv('preprocessed.csv')

### Loading Translated Dataset

In [47]:
path = "/content/preprocessed.csv"
translated_anime = pd.read_csv(path)

translated_anime.head(3)

,Unnamed: 0,animeID,name,title_english,title_japanese,title_synonyms,type,source,producers,genre,...,score,scored_by,rank,popularity,members,favorites,synopsis,premiered,broadcast,related
0,0,1,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,[],TV,Original,['Bandai Visual'],"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...",...,8.81,405664.0,26.0,39.0,795733.0,43460.0,"In the year 2071, humanity has colonized sever...",Spring 1998,Saturdays at 01:00 (JST),"{'Adaptation': [{'mal_id': 173, 'type': 'manga..."
1,1,5,Cowboy Bebop: Tengoku no Tobira,Cowboy Bebop: The Movie,カウボーイビバップ 天国の扉,"[""Cowboy Bebop: Knockin' on Heaven's Door""]",Movie,Original,"['Sunrise', 'Bandai Visual']","['Action', 'Drama', 'Mystery', 'Sci-Fi', 'Space']",...,8.41,120243.0,164.0,449.0,197791.0,776.0,"Another day, another bounty—such is the life o...",NaN,NaN,"{'Parent story': [{'mal_id': 1, 'type': 'anime..."
2,2,6,Trigun,Trigun,トライガン,[],TV,Manga,['Victor Entertainment'],"['Action', 'Sci-Fi', 'Adventure', 'Comedy', 'D...",...,8.30,212537.0,255.0,146.0,408548.0,10432.0,"Vash the Stampede is the man with a $$60,000,0...",Spring 1998,Thursdays at 01:15 (JST),"{'Adaptation': [{'mal_id': 703, 'type': 'manga..."

In [48]:
translated_anime.isnull().sum()

Unnamed: 0            0
animeID               0
name                  0
title_english      4214
title_japanese       43
title_synonyms        0
type                  0
source                0
producers             0
genre                 0
studio                0
episodes            541
status                0
airing                0
aired                 0
duration              0
rating                0
score               495
scored_by             0
rank               1604
popularity            0
members               0
favorites             0
synopsis            708
premiered         11094
broadcast         10871
related               0
dtype: int64

In [49]:
translated_anime.shape[0]

15273

In [50]:
# drop rows with missing values only in specific columns
translated_anime.dropna(subset=['title_english', 'title_japanese', 'episodes','score','rank','synopsis','premiered','broadcast'], inplace=True)

In [51]:
translated_anime.columns

Index(['Unnamed: 0', 'animeID', 'name', 'title_english', 'title_japanese',
       'title_synonyms', 'type', 'source', 'producers', 'genre', 'studio',
       'episodes', 'status', 'airing', 'aired', 'duration', 'rating', 'score',
       'scored_by', 'rank', 'popularity', 'members', 'favorites', 'synopsis',
       'premiered', 'broadcast', 'related'],
      dtype='object')

In [52]:
translated_anime.head(3)

,Unnamed: 0,animeID,name,title_english,title_japanese,title_synonyms,type,source,producers,genre,...,score,scored_by,rank,popularity,members,favorites,synopsis,premiered,broadcast,related
0,0,1,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,[],TV,Original,['Bandai Visual'],"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...",...,8.81,405664.0,26.0,39.0,795733.0,43460.0,"In the year 2071, humanity has colonized sever...",Spring 1998,Saturdays at 01:00 (JST),"{'Adaptation': [{'mal_id': 173, 'type': 'manga..."
2,2,6,Trigun,Trigun,トライガン,[],TV,Manga,['Victor Entertainment'],"['Action', 'Sci-Fi', 'Adventure', 'Comedy', 'D...",...,8.30,212537.0,255.0,146.0,408548.0,10432.0,"Vash the Stampede is the man with a $$60,000,0...",Spring 1998,Thursdays at 01:15 (JST),"{'Adaptation': [{'mal_id': 703, 'type': 'manga..."
3,3,7,Witch Hunter Robin,Witch Hunter Robin,Witch Hunter ROBIN,['WHR'],TV,Original,['Bandai Visual'],"['Action', 'Magic', 'Police', 'Supernatural', ...",...,7.33,32837.0,2371.0,1171.0,79397.0,537.0,Witches are individuals with special powers li...,Summer 2002,Tuesdays at Unknown,{}

### Removing Redundant Columns
 - `Unnamed: 0`
 - `animeID`
 - `title_synonyms`
 - `members`
 - `synopsis` 
 - `related`

In [53]:
translated_anime.drop(['Unnamed: 0','animeID','title_synonyms','members','synopsis','related'],axis = 1, inplace = True)

In [54]:
translated_anime.head(3)

,name,title_english,title_japanese,type,source,producers,genre,studio,episodes,status,...,aired,duration,rating,score,scored_by,rank,popularity,favorites,premiered,broadcast
0,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,TV,Original,['Bandai Visual'],"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...",['Sunrise'],26.0,Finished Airing,...,"{'from': '1998-04-03T00:00:00+00:00', 'to': '1...",24 min per ep,R - 17+ (violence & profanity),8.81,405664.0,26.0,39.0,43460.0,Spring 1998,Saturdays at 01:00 (JST)
2,Trigun,Trigun,トライガン,TV,Manga,['Victor Entertainment'],"['Action', 'Sci-Fi', 'Adventure', 'Comedy', 'D...",['Madhouse'],26.0,Finished Airing,...,"{'from': '1998-04-01T00:00:00+00:00', 'to': '1...",24 min per ep,PG-13 - Teens 13 or older,8.30,212537.0,255.0,146.0,10432.0,Spring 1998,Thursdays at 01:15 (JST)
3,Witch Hunter Robin,Witch Hunter Robin,Witch Hunter ROBIN,TV,Original,['Bandai Visual'],"['Action', 'Magic', 'Police', 'Supernatural', ...",['Sunrise'],26.0,Finished Airing,...,"{'from': '2002-07-02T00:00:00+00:00', 'to': '2...",25 min per ep,PG-13 - Teens 13 or older,7.33,32837.0,2371.0,1171.0,537.0,Summer 2002,Tuesdays at Unknown

In [55]:
translated_anime.columns

Index(['name', 'title_english', 'title_japanese', 'type', 'source',
       'producers', 'genre', 'studio', 'episodes', 'status', 'airing', 'aired',
       'duration', 'rating', 'score', 'scored_by', 'rank', 'popularity',
       'favorites', 'premiered', 'broadcast'],
      dtype='object')

In [56]:
translated_anime.drop(['status','aired','airing'], axis=1, inplace=True)

In [57]:
translated_anime.head(3)

,name,title_english,title_japanese,type,source,producers,genre,studio,episodes,duration,rating,score,scored_by,rank,popularity,favorites,premiered,broadcast
0,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,TV,Original,['Bandai Visual'],"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...",['Sunrise'],26.0,24 min per ep,R - 17+ (violence & profanity),8.81,405664.0,26.0,39.0,43460.0,Spring 1998,Saturdays at 01:00 (JST)
2,Trigun,Trigun,トライガン,TV,Manga,['Victor Entertainment'],"['Action', 'Sci-Fi', 'Adventure', 'Comedy', 'D...",['Madhouse'],26.0,24 min per ep,PG-13 - Teens 13 or older,8.30,212537.0,255.0,146.0,10432.0,Spring 1998,Thursdays at 01:15 (JST)
3,Witch Hunter Robin,Witch Hunter Robin,Witch Hunter ROBIN,TV,Original,['Bandai Visual'],"['Action', 'Magic', 'Police', 'Supernatural', ...",['Sunrise'],26.0,25 min per ep,PG-13 - Teens 13 or older,7.33,32837.0,2371.0,1171.0,537.0,Summer 2002,Tuesdays at Unknown

In [58]:
translated_anime.columns

Index(['name', 'title_english', 'title_japanese', 'type', 'source',
       'producers', 'genre', 'studio', 'episodes', 'duration', 'rating',
       'score', 'scored_by', 'rank', 'popularity', 'favorites', 'premiered',
       'broadcast'],
      dtype='object')

In [59]:
translated_anime[['premiered_season', 'premiered_year']] = translated_anime['premiered'].str.split(' ', n=1, expand=True)
translated_anime.drop(['premiered'], axis=1, inplace=True)
translated_anime.head(3)

,name,title_english,title_japanese,type,source,producers,genre,studio,episodes,duration,rating,score,scored_by,rank,popularity,favorites,broadcast,premiered_season,premiered_year
0,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,TV,Original,['Bandai Visual'],"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...",['Sunrise'],26.0,24 min per ep,R - 17+ (violence & profanity),8.81,405664.0,26.0,39.0,43460.0,Saturdays at 01:00 (JST),Spring,1998
2,Trigun,Trigun,トライガン,TV,Manga,['Victor Entertainment'],"['Action', 'Sci-Fi', 'Adventure', 'Comedy', 'D...",['Madhouse'],26.0,24 min per ep,PG-13 - Teens 13 or older,8.30,212537.0,255.0,146.0,10432.0,Thursdays at 01:15 (JST),Spring,1998
3,Witch Hunter Robin,Witch Hunter Robin,Witch Hunter ROBIN,TV,Original,['Bandai Visual'],"['Action', 'Magic', 'Police', 'Supernatural', ...",['Sunrise'],26.0,25 min per ep,PG-13 - Teens 13 or older,7.33,32837.0,2371.0,1171.0,537.0,Tuesdays at Unknown,Summer,2002

In [60]:
translated_anime.dtypes

name                 object
title_english        object
title_japanese       object
type                 object
source               object
producers            object
genre                object
studio               object
episodes            float64
duration             object
rating               object
score               float64
scored_by           float64
rank                float64
popularity          float64
favorites           float64
broadcast            object
premiered_season     object
premiered_year       object
dtype: object

In [61]:
translated_anime.isnull().sum()

name                0
title_english       0
title_japanese      0
type                0
source              0
producers           0
genre               0
studio              0
episodes            0
duration            0
rating              0
score               0
scored_by           0
rank                0
popularity          0
favorites           0
broadcast           0
premiered_season    0
premiered_year      0
dtype: int64

In [62]:
translated_anime.shape[0]

3295

In [63]:
translated_anime['producers'].unique()

array(["['Bandai Visual']", "['Victor Entertainment']",
       "['TV Tokyo', 'Dentsu']", ...,
       "['Studio Mausu', 'Namu Animation']",
       "['DAX Production', 'Twin Planet']", "['Polygon Magic']"],
      dtype=object)

we first use the ast.literal_eval() function to convert each string representation of a list to an actual list of strings. Then, we use the .str accessor to get the first element of each list.

In [64]:
import ast

# Convert 'producers' column to list data type
translated_anime['producers'] = translated_anime['producers'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Extract the first element from each list in 'producers' column
translated_anime['producers'] = translated_anime['producers'].str[0]

In [65]:
translated_anime.head(3)

,name,title_english,title_japanese,type,source,producers,genre,studio,episodes,duration,rating,score,scored_by,rank,popularity,favorites,broadcast,premiered_season,premiered_year
0,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,TV,Original,Bandai Visual,"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...",['Sunrise'],26.0,24 min per ep,R - 17+ (violence & profanity),8.81,405664.0,26.0,39.0,43460.0,Saturdays at 01:00 (JST),Spring,1998
2,Trigun,Trigun,トライガン,TV,Manga,Victor Entertainment,"['Action', 'Sci-Fi', 'Adventure', 'Comedy', 'D...",['Madhouse'],26.0,24 min per ep,PG-13 - Teens 13 or older,8.30,212537.0,255.0,146.0,10432.0,Thursdays at 01:15 (JST),Spring,1998
3,Witch Hunter Robin,Witch Hunter Robin,Witch Hunter ROBIN,TV,Original,Bandai Visual,"['Action', 'Magic', 'Police', 'Supernatural', ...",['Sunrise'],26.0,25 min per ep,PG-13 - Teens 13 or older,7.33,32837.0,2371.0,1171.0,537.0,Tuesdays at Unknown,Summer,2002

we first use the ast.literal_eval() function to convert each string representation of a list to an actual list of strings. Then, we use the random.randint() function to generate a random integer between 0 and the length of the list of genres (minus one, since indexing starts at zero). Finally, we use this random integer to select a random genre from the list using indexing, and assign it to the 'genre' column.

Note that we use if x to check if the 'genre' column contains any empty lists, and if it does, we assign an empty string to that row's 'genre' value.

In [66]:
import random

# Convert 'genre' column to list data type
translated_anime['genre'] = translated_anime['genre'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Randomly select a genre from each list in 'genre' column
translated_anime['genre'] = translated_anime['genre'].apply(lambda x: x[random.randint(0, len(x)-1)] if x else '')
translated_anime.head(3)

,name,title_english,title_japanese,type,source,producers,genre,studio,episodes,duration,rating,score,scored_by,rank,popularity,favorites,broadcast,premiered_season,premiered_year
0,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,TV,Original,Bandai Visual,Sci-Fi,['Sunrise'],26.0,24 min per ep,R - 17+ (violence & profanity),8.81,405664.0,26.0,39.0,43460.0,Saturdays at 01:00 (JST),Spring,1998
2,Trigun,Trigun,トライガン,TV,Manga,Victor Entertainment,Sci-Fi,['Madhouse'],26.0,24 min per ep,PG-13 - Teens 13 or older,8.30,212537.0,255.0,146.0,10432.0,Thursdays at 01:15 (JST),Spring,1998
3,Witch Hunter Robin,Witch Hunter Robin,Witch Hunter ROBIN,TV,Original,Bandai Visual,Magic,['Sunrise'],26.0,25 min per ep,PG-13 - Teens 13 or older,7.33,32837.0,2371.0,1171.0,537.0,Tuesdays at Unknown,Summer,2002

In [67]:
# Convert 'producers' column to list data type
translated_anime['studio'] = translated_anime['studio'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Extract the first element from each list in 'producers' column
translated_anime['studio'] = translated_anime['studio'].str[0]

In [68]:
translated_anime.head(3)

,name,title_english,title_japanese,type,source,producers,genre,studio,episodes,duration,rating,score,scored_by,rank,popularity,favorites,broadcast,premiered_season,premiered_year
0,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,TV,Original,Bandai Visual,Sci-Fi,Sunrise,26.0,24 min per ep,R - 17+ (violence & profanity),8.81,405664.0,26.0,39.0,43460.0,Saturdays at 01:00 (JST),Spring,1998
2,Trigun,Trigun,トライガン,TV,Manga,Victor Entertainment,Sci-Fi,Madhouse,26.0,24 min per ep,PG-13 - Teens 13 or older,8.30,212537.0,255.0,146.0,10432.0,Thursdays at 01:15 (JST),Spring,1998
3,Witch Hunter Robin,Witch Hunter Robin,Witch Hunter ROBIN,TV,Original,Bandai Visual,Magic,Sunrise,26.0,25 min per ep,PG-13 - Teens 13 or older,7.33,32837.0,2371.0,1171.0,537.0,Tuesdays at Unknown,Summer,2002

## Saving Dataset in CSV Format

In [70]:
translated_anime.to_csv('anime_dataset.csv')